body{ font-family: "微软雅黑"; background:#fff;
      overflow: hidden;}
p{ word-wrap: break-word;}
input:hover,input:active,input:visited,input:focus{ border-color: transparent; outline: none;}
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td,button{margin: 0; padding: 0; font-family:  "微软雅黑",Arial,Lucida,Verdana,Helvetica,sans-serif;list-style-type:none;}
.content {width: 100%;margin: 0 auto;}

/**/
.top{width: 100%; background: #fff;position: fixed;z-index: 9999;}
.topbar{
      background: #ccc;
      line-height: 40px;
      color: #333;
      font-size: 14px;
      height: 40px;}
.top-links{display: inline-block;
      float: right;}
.top-links a{
      text-decoration: none;
      color: #333;
      margin-right: 15px;
}
.top-links a:hover{
      text-decoration: underline;
      color: red;
}
.topbar-content{width: 1020px;
      margin: 0 auto;}
.top_main{max-width: 1100px; width: 1020px;height: 80px; margin: 0 auto;}
.top_logo{float: left;width: 314px;  line-height: 38px; margin-top:25px;margin-right: 122px;}
.top_logo img{width:140px; height: 38px;margin-right: 17px;float: left;}
.top_logo i{font-style: inherit;font-size: 14px; float: left;}
.top_list{float: left;margin-top: 25px;}
.top_list ul li{float: left;margin-right: 60px;line-height: 40px;cursor: pointer;}
.top_list ul li a{color: #494c5c;text-decoration: blink;}
.top_list ul li.on{border-bottom:2px solid #0db58a;}
.top_list ul li:hover{border-bottom:2px solid #0db58a;}

.banner{width: 100%; height: 500px; background: url(../img/banner.jpg) no-repeat center center;padding-top: 80px;}
/*市场规模*/
.scgm{width: 100%; height: 410px; background: #fff;position: relative;}
.menu{max-width:1100px;width: 1000px; height: 190px; background: #134176; position: absolute; top: -133px; left: 50%; margin-left: -500px;border-radius: 7px;
      box-shadow: -2px 2px 10px rgba(36, 36, 36, 0.5);}
.menu dl{float: left;width: 250px; text-align: center;margin-left: 58px;}
.menu dl:hover{width: 250px; height: 230px; background: #0db58a;position:relative;top:-20px; border-radius: 7px;box-shadow: -2px 2px 10px rgba(36, 36, 36, 0.5);}
.menu dl:hover dt{margin-top: 50px;}
.menu dl dt{margin-top: 38px;}
.menu dl dd{width: 250px;color: #fff;text-align: center;padding-top: 15px;}

.scgm_text{max-width: 1100px; width: 1000px;height:380px;margin: 0 auto;padding-top: 100px;}
.text_h1{font-size: 30px;color: #204066; text-align: center;}
.scgm_text p{text-align: center;font-size: 18px; color: #204066;line-height:45px;}
.line{width:132px; height: 3px; background: url(../img/line.png) no-repeat center center; margin: 0 auto;display: block; }
.scgm_text dl{float: left;width: 499px;text-align: center;margin-top: 45px;color: #494c5c;}
.scgm_text i{width:1px; height:85px; border-right: solid 1px #dcdcdc;float: left;margin-top: 60px;}
.scgm_text dl dh{font-size: 50px;}
.scgm_text dl dd{font-size: 18px;padding-top: 20px;}
/*服务*/
.service{width: 100%; height: 950px; background: #f1f1f3;}
.service_main{max-width: 1100px; width: 1015px;margin: 0 auto;}
.service_main .text_h1{padding-top: 55px;padding-bottom: 15px;}
.service_main .line{margin-bottom: 45px;}
.service_main dl{float: left;margin-top: 10px;position: relative;color: #494c5c;}
.dl_list{height: 340px;position: relative;}
.service_main dl dt{}
.service_main dl dd{width:493px; height: 86px; background: #fff; position: absolute;top:246px;border-bottom-right-radius:7px;border-bottom-left-radius:7px;margin-left: 7px;}
.service_main dl dd p{font-size: 22px;text-align: center;line-height: 50px;}
.service_main dl dd em{font-style: inherit;text-align: center;display: block;}
.service_main dl:hover .dl_list{top:-15px;}
.service_main dl:hover .dl_list dd{}
.service_main dl:hover dd{background: #134176;color: #fff;}
/*业务系统*/
.ywxt{width: 100%; height: 934px; background: url(../img/ywxt.png) no-repeat;}
.ywxt_main{max-width: 1100px; width: 1002px; margin: 0 auto;}
.ywxt_main .text_h1{padding-top: 55px;color: #fff;}
.ywxt_main p{text-align: center;font-size: 18px; color: #fff;line-height: 45px;}
.ywxt_list dl{float: left; margin-top: 60px;}
.ywxt_list dl dt{margin: 0 65px;}
.ywxt_list dl dd{color: #fff; text-align: center;font-size: 18px; padding-top: 25px;}
.ywxt_text img{margin-top: 20px;}
.ywxt_text i img{position: relative;top:2px;}
.ywxt_img{display: none;}
.icon1 img{left:110px; }
.icon2 img{left:360px; }
.icon3 img{left:610px; }
.icon4 img{left:860px; }

/*合作伙伴*/
.hzhb{width: 100%; height: 790px; background: #fff;}
.hzhb_main{max-width:1100px;width: 1036px; margin: 0 auto;}
.hzhb_main .text_h1{padding-top: 55px;padding-bottom: 15px;}
.hzhb_main .line{margin-bottom: 20px;}
.hzhb_main img{float: left;margin:32px 16px 0}
/*多家公司*/
.company{width: 100%; height:694px; background: url(../img/company.png) no-repeat center center; }
.company_main{max-width: 1100px; width: 1004px; margin: 0 auto;}
.company_main .text_h1{padding-top:80px; padding-bottom: 15px;}
.company_main .line{margin-bottom: 58px;}
.company_main ul li{width: 306px; height: 412px; float: left;}
.li_list{background: #fff;border-radius: 7px;height: 412px;}
.company_main ul li h2{font-size: 18px; text-align: center;color: #204066;padding: 55px 0 30px 0;}
.company_main ul li p{padding: 0 20px; line-height: 30px;color: #204066;font-size: 12px;}
.company_main ul li:hover .li_list{margin-top:-25px;opacity: 1;}
/*底部*/
.footer{width: 100%; height: 160px;background: #134176;}
.footer_main{max-width: 1100px; width: 1004px; margin: 0 auto;}
.footer_main_top ul li{float: left;line-height: 68px; color: #fff;font-size: 16px;padding-right: 45px;}
.footer_main_top ul li a{color: #fff;text-decoration: blink;}
.footer_main_top{border-bottom: solid 1px #335b89;height: 60px;}
.footer_main_bottom{ color: #fff;padding-top: 10px;font-size: 12px;}
.footer_main_bottom ul li{float: left;padding-right: 21px; }
.footer_main_bottom ul li em{font-style: inherit; line-height: 20px;}

@media screen and (max-width:1200px){
  
}
/* 登录弹框 */
#mask {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 9999;
      background: rgba(0, 0, 0, .7);
      display: none;
}
.dl-modal{
      position: fixed;
      background: #fff;
      width: 400px;
      height: 300px;
      z-index: 999991;
      left: 50%;
      /*top: 50%;*/
      top: -500px;
      margin-left: -200px;
      margin-top: -150px;
      border-radius: 4px;
      overflow:hidden;
}
.dl-modal dt{
      position: relative;
      height: 40px;
      text-align:center;
      line-height: 48px;
      font-weight:700;
      font-size: 20px;
      padding-bottom: 12px;
      border-bottom: 1px solid #ddd;
}
.dl-modal dt .btn-close{
      color: #ddd;
      position: absolute;
      font-size: 30px;
      font-weight: normal;
      right: 20px;
      cursor: pointer;
      transition: .1s;
}
.dl-modal li{
      position: relative;
}
.dl-modal .errer{
      font-size: 14px;
      color: red;
      font-weight: bold;
      text-align: center;
      position: relative;
      top: -12px;
      display: none;
}
.dl-modal dt .btn-close:hover{
      color: #333;
      transform: scale(1.2);
}
.dl-modal .btn-submit{
      display: block;
      border: none;
      background: #f55231;
      width: 100%;
      color: #fff;
      height: 48px;
      line-height: 48px;
      font-size: 18px;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
}
.dl-modal .btn-submit:hover{
      background: #F56D46;
}
.dl-modal .btn-submit:disabled{
      background: #f2f2f2;
}

.dl-modal dd{
      padding: 30px;
}
.dl-modal input{
      outline:none;
      height: 38px;
      line-height: 38px;
      border:1px solid #ddd;
      display: block;
      width: 100%;
      text-indent: 15px;
      font-size: 15px;
      margin-bottom: 24px;
}
.userInfo{
      display: none;
}
/* 返回顶部 */
.btn-back-top{
      position: fixed;
      display: inline-block;
      width: 48px;
      height: 48px;
      overflow: hidden;
      border-radius: 4px;
      right: 10px;
      bottom: 20px;
      background: #ffffff url("../img/arrow.png") no-repeat center;
      text-decoration: none;
      text-align: center;
      line-height: 48px;
}
.btn-back-top:hover{
      background-color: #f2f2f2;
}
#slidePic {
    position: relative;
}
.list-pic li{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}
.list-pic li.active{
    display: block;
}








